.canvas-container {
 position: relative;
 width: 800px;
 height: 800px;
 }

 #gameCanvas {
 position: absolute;
 }
 
 button {
 	position: absolute;
 	background-color: transparent;
 	border: none;
 	display: inline-block;
 	color: green;
 	text-decoration: none;
 	text-align: center;
 	font-size: 25px;
 	font-family: 'Courier New', 'Comic Sans MS';
   	/*font-weight: bold;*/
 }

 p {
 	 position: absolute;
 	 background-color: transparent;
 	 border: none;
     display: inline-block;
     color: red;
     text-decoration: none;
     text-align: center;
   	 font-size: 30px;
   	 font-family: 'Courier New', 'Comic Sans MS';
   	 font-variant-caps: uppercase;
   	 /*font-weight: bold;*/
 }

 #caption {
 left: 25%;
 top: 5%;
 }

 #btnEasy {
 left: 45%;
 top: 30%;
 }
 
 #btnMed {
 left: 45%;
 top: 35%;
 }
 
 #btnHard {
 left: 45%;
 top: 40%;
 }